@import  url('https://fonts.googleapis.com/css?family=Exo:400,700|Josefin+Slab:400,700');

$deepRed: #931919;
$deepRed_light: #c37f7f;
$darkGreen: #329f69;
$grey: #dedede;
$playGreen: #66b266;
$pauseYellow: #dcae1d;